<!DOCTYPE html>
<html lang="en">
  <% include ../includes/head %>
  <body ontouchstart>
    <% include ../includes/headerNavigation %>
    <div class="mainContainer">
      <section class="eventList">
        <div class="eventGroup">
          <h3><%= event.name %>
            <% if(isAuthor){ %>
              <span>
                <a href="/events/<%= event._id %>/edit_event">
                  <button class="editButton">EDIT</button>
                </a>
              </span>
            <% } %>
          </h3>
          <p class="eventLabel">Type:</p>
          <span class="badge"><%= event.type %></span>
          <p>
            <span class="eventLabel">Start Date/Time:</span><br />
            <%= event.startDate %>
          </p>
          <p>
            <span class="eventLabel">End Date/Time:</span><br />
            <%= event.endDate %>
          </p>
          <p>
            <span class="eventLabel">Location:</span><br />
            <%= event.location %>
          </p>
          <p>
            <span class="eventLabel">Host:</span><br />
            <%= event.host %>
          </p>
          <% if (event.message) { %>
          <div class="">
            <p>
              <span class="eventLabel">Messages:</span><br />
              <%= event.message %>
            </p>
          </div>
          <% } %>
        </div>
      </section>
    </div>
    <% include ../includes/footer %>
  </body>
</html>
