<% events.forEach(function(event) { %>
  <div class="eventGroup">
    <a href="/events/<%= event._id %>"><h3><%= event.name %></h3></a>

    <p class="eventLabel">Type:</p>
    <span class="badge"><%= event.type %></span>

    <p>
      <span class="eventLabel">Start Date/Time:</span><br />
      <%= event.startDate %>
    </p>

    <p>
      <span class="eventLabel">End Date/Time:</span><br />
      <%= event.endDate %>
    </p>

    <p>
      <span class="eventLabel">Location:</span><br />
      <%= event.location %>
    </p>
    <p>
      <span class="eventLabel">Host:</span><br />
      <%= event.host %>
    </p>
    
    <% if (event.message) { %>
    <div class="">
      <p>
        <span class="eventLabel">Messages:</span><br />
        <%= event.message %>
      </p>
    </div>
    <% } %>
  </div>
<% }); %>