<% events.forEach(function(event) { %>
  <a href="/events/<%= event._id %>" class="eventGroup">
    <h3><%= event.name %></h3>
    <p class="eventLabel">Type:</p>
    <span class="badge"><%= event.type %></span>
    <p>
      <span class="eventLabel">Start Date/Time:</span><br />
      <%= event.startDate %>
    </p>    
    <% if (event.message) { %>
    <div class="">
      <p>
        <span class="eventLabel">Messages:</span><br />
        <%= event.message %>
      </p>
    </div>
    <% } %>
  </a>
<% }); %>