extends ../layout

block content
  include ../includes/header
  
  .container.main
    .form
      h1 Login Form 
      form(id='loginForm' action='/login' method='post')
        #loginEmailGroup
          label(for='loginEmail') Email
          input(
            type='email'
            id='loginEmail'
            name='email'
            placeholder='Email'
            autocomplete='email' 
            required)

        #loginPassGroup
          label(for='loginPassword') Password
          input(
            type='password'
            id='loginPassword'
            name='password'
            placeholder='Secure Password' 
            autocomplete='current-password'
            required)
              
        button(
          id='loginButton'
          type='submit'
          class='') Login
    hr
    a(href='/register') Register
