extends ../layout

block content
  include ../includes/header
  
  .container.main
    .form
      h1 Registration Form 
      form(id='signupForm' name='signupForm' action='/register' method='post')
        #signupNameGroup
          label(for='signupName') Name
          input(
            onKeyup='checkform()'
            type='text'
            id='signupName'
            name='name'
            placeholder='Your Name'
            autocomplete='name' 
            required)

        #signupEmailGroup
          label(for='signupEmail') Email
          input(
            onKeyup='checkform()'
            type='email'
            id='signupEmail'
            name='email'
            placeholder='Email'
            autocomplete='email' 
            required)

        #signupPassGroup
          label(for='signupPassword') Password
          input(
            onKeyup='checkform()'
            type='password'
            id='signupPassword'
            name='password'
            placeholder='Secure Password' 
            required)
        
        button(
          id='registerButton'
          type='submit'
          class=''
          disabled='true') Register
    hr
    a(href='/login') Login 
